.slider
    overflow: hidden
    &__item

        background-size cover
        background-position center
        width 100%
    &, &__item
        min-height: 250px
        @media (min-width: scr_sm)
            min-height: 420px
        @media (min-width: 845px)
            min-height: 483px
        @media (min-width: 1240px)
            min-height: 413px
    .slick-arrow
        position absolute
        top 50%
        z-index 100
        size 22px 38px
        cursor pointer
        opacity: .5
        margin-top -19px
        transition: .3s opacity
        &.slick-next
            right 15px
        &.slick-prev
            left 15px
        &:hover
            opacity: 1
