.title
    text-align center
    width 100%
    font-family: $heading-font
    font-size 40px
    line-height 1.7
    color #d3d9da
    word-spacing: 12px
    a
        color #1bb0da
        text-decoration none
        border-line(#1bb)
    .cern
        &--a
            margin-right -.3em
        &--s
            margin-left .1em
    br
        display none
        @media (min-width: scr_lg)
            display block
